<div mat-dialog-content class="input-form">
  <p class="title">Monthly machine profit by period</p>

  <mat-form-field>
    <mat-select required placeholder="Choose machine id">
      <mat-option *ngFor="let machine of machines" [value]="machine.machineId">{{machine.machineId}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker_start" placeholder="Choose a start date">
    <mat-datepicker-toggle matSuffix [for]="picker_start"></mat-datepicker-toggle>
    <mat-datepicker #picker_start></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker_end" placeholder="Choose an end date">
    <mat-datepicker-toggle matSuffix [for]="picker_end"></mat-datepicker-toggle>
    <mat-datepicker #picker_end></mat-datepicker>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="onOkClick()"  cdkFocusInitial>Ok</button>
</div>
