.machinelist{
  margin: 10px;
}
.card-container{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 5px;
  }
.add-button{
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  left: 250px;
  bottom: 10%;
}
.selected-item {
  flex: 1;
}

.btn-group button{
  margin-right: 5px;
}
