.productslist{
  margin: 10px;
}
.btn-group{
  display: flex;
  align-items: right;
  justify-content: right;
}
.add-button {
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  left: 250px;
  bottom: 10%;
}
.card-container{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 5px;
}
.selected-item {
  flex: 1;
}

.btn-group button{
  margin-right: 5px;
}
